<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h4> <strong> Siteler</strong> </h4>
                <hr />
                <p>
                    <a href="/Home/About">Hakkımda</a><br />
                    <a href="/Home/MostLiked">En Beğenilenler</a><br />
                    <a href="/Home/Index">Son Yazılar</a>
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h4> <strong> Siteler</strong> </h4>
                <hr />
                <p>Tüm hakları saklıdır &copy; TUNC @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <h4> <strong> Bülten Üyelik</strong> </h4>
                <hr />
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="E-mail adresini giriniz.." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-send"></span> Gönder</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
